[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-security = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
email-validator = "*"
flask-migrate = "*"
flask = "*"
python-dotenv = "*"
flask-babelex = "*"
markupsafe = "*"
redis = "*"
datetime = "*"
flask-admin = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
