a {
  color: white;
 }

p {
    font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
}

h1 {
	
	
}
h2 {
    font-family: 'Montserrat'
    font-size: 1rem;
}

img {	
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -2.5rem;
	object-fit: cover;
    width: 100%;
    height: 100%
}	

@media (max-width: 1800px) {
    h1 {
    	text-align: left;
    	margin-top: -17rem;
		margin-left: 10rem;
        font-size: 50px;
    }
    p {
}

}


@media (max-width: 400px) {
    h1 {
    	width: 45%;
    	text-align: left;
    	margin-top: -6rem;
		margin-left: 3rem;
		font-size: 15px;
    }
    p {
	font-size: 14px;
	}
}

img.logo2 {
	margin-left: 1rem;
	margin-top: -5rem;
	max-height: 20%;
	max-width: 20%;
}
}

#main_content {
	position: relative;
	top: -3rem;
	padding-top: 5rem;
	
}
footer {
    position: relative;
    height: 30rem;
}
#footer {
    position: relative;
    top: -4rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	
}

div > div {
	margin-top: 1.1rem;
}

img.logo1 {
	
	
}

img.logo2 {
	
	
}
.justify-content-center div.col-md-5 {
    
}

}

}
.col-md-5 p {
    margin-top: -2rem;
    display: inline;
    font-size: 0.8rem;
}

.flatcard > div {
    position: relative;
    margin-top: -1.2rem;
}
img.flatfoto {
    position: relative;
    margin-top: 1rem;
    }
div.textflat {
    position: relative;
    margin-top: -1rem;
    }


}
div.price-col {
    margin-top: -1.3rem;
    margin-left: 2.5rem;
}
@media (max-width: 414px) {
    img.foto_flat {
        width: 8rem;
        height: 8rem;
    }
    h2 {
        
    }
    p.price {
        
    }
}

