body {
	font-family: 'Montserrat';
	background: #D2D1CD;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: white;
}

.container {
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.img-wrap {
	max-width: 100%;
		border: 0 0;
		padding: 0 0;
		min-height: 10em;
		box-sizing: border-box;
		max-width: 100%;
		background-position: right;
}
h1 {
	margin-top: -37rem;
	margin-left: 17rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
}

@media (max-width: 1800px) {
    h1 {
    	text-align: left;
    	margin-top: -17rem;
			margin-left: 10rem;   	
      font-size: 50px;
    }
    p {
	font-size: 30px;
}

}


@media (max-width: 400px) {
    h1 {
    	width: 45%;
    	text-align: left;
    	margin-top: -7rem;
			margin-left: 3rem;
			font-size: 15px;
    }
     {
	font-size: 10px;
}
}

#main_content {
	padding: 40rem 5rem;
	height: 130rem;
	background: linear-gradient(228.89deg, #CAC9C5 19.08%, #D2D1CD 41.89%, #E8E7E4 82.33%);
}

#footer {
	width: 240rem;
	height: 40rem;
	background: linear-gradient(1.77deg, #000000 71.35%, rgba(0, 0, 0, 0) 124.62%)
}

div > div {
	margin-top: 1.1rem;
}