body {
	padding: 0 0;
	font-family: 'Montserrat';
	background: #D2D1CD;
}
a {
  color: white;
 }

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: white;
}

h1 {
		font-family: 'Montserrat', sans-serif;
		position: absolute;
		margin-top: -38rem;
		margin-left: 22rem;
		font-size: 80px;
}


img {	
			margin-right: auto;
			margin-left: auto;
			position: relative;
			top: -2.15rem;
			object-fit: cover;
      width: 100%;
      height: 100%
}	

@media (max-width: 1800px) {
    h1 {
    	text-align: left;
    	margin-top: -17rem;
			margin-left: 10rem;
      font-size: 50px;
    }
    p {
	font-size: 25px;
}

}


@media (max-width: 400px) {
    h1 {
    	width: 45%;
    	text-align: left;
    	margin-top: -6rem;
			margin-left: 3rem;
			font-size: 15px;
    }
    p {
	font-size: 14px;
}
}

#main_content {
	position: relative;
	top: -3rem;
	padding-top: 5rem;
	height: 120rem;
	background: linear-gradient(228.89deg, #CAC9C5 19.08%, #D2D1CD 41.89%, #E8E7E4 82.33%);
}

#footer {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 40rem;
	background: linear-gradient(1.77deg, #000000 71.35%, rgba(0, 0, 0, 0) 124.62%)
}

div > div {
	margin-top: 1.1rem;
}