<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Квартиры, Калининград, по суточно, на длительный срок">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/css" href="{{ url_for('static', filename='bootstrap/js/bootstrap.bunble.min.js') }}" rel="stylesheet"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container flat">
  <div class="row justify-content-center m-1">
    <div class="col-sm-5 w-100 flatcard">
        <h2 class="text-aline-center">3-к. квартира, 44 м², 2/5 эт.</h2>
        <img class="foto_flat" src="{{url_for('static', filename='img/img_flat.png')}}" alt="Квартира">
        <p>Калининградская область, Калининград, Минская ул., 6 р-н Ленинградский
    </div>
    <div class="col-sm-5 h-100 flatcard">
      <div class="row">
          <div class="col-12 pb-2 "><h2>3-к. квартира, 44 м², 2/5 эт.</h2></div>
      <div class="row pl-3">
          <div class="col-sm-6">
             <img class="foto_flat" src="{{url_for('static', filename='img/img_flat.png')}}" alt="Квартира">
          </div>
          <div class="col-sm-6 textflat">
            <p><b>Калининградская область, Калининград, Минская ул., 6 р-н Ленинградский</b><br>
            <p><b>Ремонт:</b> евро<br>
            <p><b>Мебель:</b> кухня, хранение одежды, спальные места<br>
            <p><b>Техника:</b> холодильник, плита, микроволновка, стиральная машина, фен, утюг<br>
              <button type="button" class="btn btn-warning"><i>Узнать подробнее</i></button>
          </div>
          <div class="row  price-col">
            <div class="col-12 mr-5 justify-content-center">
              <p class="price">от 1 500 ₽ за сутки</p>
            </div> 
          </div>
      </div>
      </div>
      </div>
    <div class="col-md-5 p-5 flatcard">Column</div>
    <div class="col-md-5 p-5 flatcard">Column</div>
  </div>
</div>
</body>
</html>