<footer>
  <div class="cotainer footer">
      <div class="row justify-content-center">
          <div class="col-5 mt-5"><a href="{{ url_for('about') }}#about"><p>О нас</a></div>
          <div class="col-5 mt-5"><p class="text-center">SUBSCRIBE US</div>
      </div>
      <div class="row justify-content-center">
          <div class="col-5"><a href="{{ url_for('reviews') }}#reviews"><p>Отзывы</a></div>
          <div class="col-5"><p class="text-center"></div>
      </div>
      <div class="row justify-content-center">
          <div class="col-5"><a href="{{ url_for('kontakt') }}#kontakt"><p>Контакты</a></div>
          <div class="col-5"><p class="text-center">
              <a href="#"><img class="logo img-fluid" src="{{ url_for('static', filename='img/viber.png') }}" alt="значек"></a>
              <a href="#"><img class="logo img-fluid" src="{{ url_for('static', filename='img/watsapp.png') }}" alt="значек"></a>
              <a href="#"><img class="logo img-fluid" src="{{ url_for('static', filename='img/teleg.png') }}" alt="значек"></a></p>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-5"><p>© 2021 Touché. All rights reserved.</div>
          <div class="col-5"><a href="tel:+79999999999"><p class="text-center">8-999-452-52-36</a></div>
      </div>
  </div>
</footer>
