    <script type="text/javascript">
        // Создает обработчик события window.onLoad
        YMaps.jQuery(function () {
            // Создает экземпляр карты и привязывает его к созданному контейнеру
            var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

            // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
            map.setCenter(new YMaps.GeoPoint(20.505333, 54.750139,), 15);
            // Создает метку в центре Москвы
            var placemark = new YMaps.Placemark(new YMaps.GeoPoint(20.505333, 54.750139,));

            // Устанавливает содержимое балуна
            placemark.name = "Тут был роман";
            placemark.description = "Столица Российской Федерации";

            // Добавляет метку на карту
            map.addOverlay(placemark);
        })
    </script>

    

    <div id="YMapsID" style="width:600px;height:400px"></div>