<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Моя первая страница</title>
    <link type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  <h1>Давным-давно</h1>
  <hr>
  <p><img src="/static/kal_thumb.jpg"></p>
  <p><img src="static/kal_thumb.jpg"></p>
  <div>&lt;img src="static/kal_thumb.jpg"&gt;</div>
  <div>&lt;img src="static/kal_thumb.jpg"&gt;</div>
  <td class="col-path">

                    <img src="/static/kal_thumb.jpg">

                    </td>
  <span role="status" aria-live="polite" class="select2-hidden-accessible">&lt;<img src="/static/ist_thumb.jpg">&gt;</span>
  <article>
    <h2>В далекой-далекой галактике</h2>  
    <img src="{{ url_for('static', filename='img/ist.jpg') }}"
  <p>Идёт гражданская война. <b>Космические корабли повстанцев</b>, наносящие удар с тайной базы, одержали первую победу в схватке со зловещей Галактической Империей.
  <a href="https://stepik.org/lesson/570112/step/9?unit=564655"><button type="button" name="" id="" class="btn btn-primary btn-lg ">dfweafe</button></a>
  </article>
  <script type="text/css" href="{{ url_for('static', filename='bootstrap/js/bootstrap.bunble.min.js') }}" rel="stylesheet"></script>
  </body>
</html>
